html {
    font-family: 'Lato', sans-serif;
}

h1 {
  text-size:36px;
  line-height: 1.5;
  font-weight: 200;
}

a {
    color: #467cce;
}

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0 auto;
  text-size: 16px;
  line-height: 1.333;
}

table {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

a {
  color: #467dce;
  font-family: 'Lato', sans-serif !important;
}
 
bg {
  background-color:#1d315;
}

.werk-button {
  border-color: #3863A4;
  background-color: white;
  color: #3863A4;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid;
}

.werk-button:hover {
  background-color: #3863A4;
  color: white;
}

.modal-content {
  text-align: center;
  height: 500px;
}

.modal-content img {
  display: inline-block;
  width: 36px;
  margin-bottom: 23px;
}

.modal-content p {
  display: inline-block;
  width: 260px;
  text-align: left;
  margin-left: 20px;
}

.bullet {
  width: 320px;
  margin: auto;
  margin-bottom: 20px;
}

form {
  width: 420px;
  margin: auto;
}

input[type=text], input[type=email], input[type=password] {
  border-color: #3863A4;
  width: 100%;
  border-radius: 0;
}

.container {
  text-align: center;
}

.headerDiv {
  background-color: #3863A4;
  width: 100%;
}

.headerDiv img {
  width: 1200px;
  display: block;
  margin: auto;
}

.btn-group label {
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-group label.active {
  border-color: #3863A4;
}

.container {
  width:50%;
  text-align: center;
}
 
.checklist {
  margin-left: 0px auto;
  margin-right: 0px auto;
  margin-top: 30px;
  text-align: left;
}
 
.checklistitem {
  margin: 10px;
}
 
.bordered {
  border: 1px solid #3863A4;
}
 
hr {
  border-color: #b6c9ea;
}
 
ul {
  margin: 0px auto;
}

.mailImg {
  width: 400px;
}

.checklistitem a {
  margin-left: 10px;
}

.saving {
  float: left;
  background-color: #6b97d8;
  padding: 15px;
  color: #fff;
}

div[role=tooltip] {
    display:none;
    background: #467dce;
    font-size:14px;
    padding:20px;
    color:#fff;
    z-index: 0;
    border: 2px solid white;
-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}